@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
header {
    display: block;
}

/*treinando navbar responsiva*/

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav {
    max-width: 768px;
    height: 200px;
    margin-inline: auto;
    display: flex;
    background-color: #a5c;
    justify-content: space-between;
    align-items: center;
   
}

.hamburger {
    display: block;
    border: none;
    background: none;
    width: 30px;
    border-top: 3px solid #fff;
    margin-left: 8px;
    cursor: pointer;
    z-index: 1;
}

.hamburger::before,
.hamburger::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    
    background: #fff;
    margin-top: 7px;
    position: relative;
    transition: 0.3s;
}

.navlist {
    display: flex;
    
    gap: 32px;
    list-style: none;
    
    top: 60px;
    left: 0px;
    width: 100vw;
    height: 32vh;
    background-color: #a5c;
   
    clip-path: circle(70px at 1% 50%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
}

.img {
    height: calc(32vh);
    background: center / cover no-repeat url(../bg.jpg);
}

/*efeito do circulo no menu ;)*/

.nav.active .navlist {
    clip-path: circle(768px at 90% -15%);
    pointer-events: all;
}

.nav.active .navlist a {
    opacity: 1;
}

.nav.active .hamburger {
    left: 1px;
    border-top-color: transparent;
}

.nav.active .hamburger::before {
    transform: rotate(135deg);
   
}

.nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
    
}

.navlist a {
    font-size: 18px;
    color: #fff;
    padding-block: 15px;
    opacity: 0;
    
}



.navlist li:nth-child(1) a {
    transition: 0.2s 0.2s;
}

.navlist li:nth-child(2) a {
    transition: 0.2s 0.4s;
}

.navlist li:nth-child(3) a {
    transition: 0.2s 0.6s;
}

.navlist li:nth-child(4) a {
    transition: 0.2s 0.8s;
}