@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}

body, html {
    background-color:   aqua;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burger {
    background-color: gray;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burger:hover {
    background-color: rgba(84, 146, 218, 0.301);
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(5, 199, 199);
    color: white;
    text-align: center;
    border-top: 2px solid rgb(230, 203, 203);
}
    
menu > ul > li > a:hover {
    background-color: rgb(170, 169, 169);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 10px;
}


section#foto1:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 7%, #000 100%);
    
}


section#foto1{
    background-image: url(../pexels-frank-cone-140140-3607542.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

section#foto1 > p {
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
    z-index: 50;
    text-transform: uppercase;
    text-align: center;
}

section#foto2 {
    background-image: url(../pexels-cottonbro-7181894.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

section#foto2 > p {
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
    z-index: 50;
    text-transform: uppercase;
    text-align: center;
}

section#foto3 {
    background-image: url(/pexels-philippedonn-1257860\ \(1\).jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

section#foto3 > p {
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: white;
    z-index: 50;
    text-transform: uppercase;
    text-align: center;
}
